.mp {
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    height: 150px;
    width: 150px;
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    position: relative;
    bottom: auto;
}
